*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   }
   
   :root{
    --primaryColor: rgba(86, 20, 9, 0.877);
    --mainWhite: rgba(255, 255, 255, 0.04);
        --mainGrey: #07172d;
   }
   
   body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   
   .logo{
    position: absolute;
    justify-content: center;
    top:5px;
    margin-right: 40px;
    margin-left: 10px;
   font-size: 25px;
   }
   
   .navbar{
    overflow: hidden;
   background: cornsilk;
   }
   
   .navbar-container{
    background-color: var(--primaryColor);
    overflow: hidden;
   }
   
   .topnav{
    margin-left: 300px;
     background-color: var(--primaryColor);
   }
   
   .topnav a{
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
   }
   
   .topnav a:hover {
   background-color: var(--mainWhite);
   color: black;
   }
   
   .title{
    font-size: 45px;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding: 20px;
   }
   
   #filterButtons{
    margin-top: 0px;
    width: 100%;
    height: 80px;
    left: 5%;
    background-color: white;
    text-align: center;
    justify-content: center;
   }
   
   .btn{
    border: none;
    padding:12px 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-family: monospace;
   }

   .btn:hover{
       background-color:white;
   }
   
   .productos {
       display: flex;
       flex-wrap: wrap;
       margin-top:0px;
       overflow: hidden;
       justify-content: center;
       text-align: center
       
   }

   .producto{
      color: black;
      background-color:var(--primaryColor);
      text-align: center;
      float: left;
      width:27%;
      height:380px;
      margin:40px;

   }

   .producto_imagen {
       width:150px;
       height:auto;
       overflow: hidden;
       padding-top: 14%;
       padding-bottom: 5%;
   }