*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   }
   @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

   :root{
    --primaryColor: rgba(86, 20, 9, 0.877);
    --mainWhite: rgba(255, 255, 255, 0.04);
        --mainGrey: #07172d;
   }
   
   body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   
   .logo{
    position: absolute;
    justify-content: center;
    top:5px;
    margin-right: 40px;
    margin-left: 10px;
   font-size: 30px;
   font-family: 'Palette Mosaic', cursive;
   text-transform: uppercase;
   }
   
   .navbar{
    overflow: hidden;
   background: cornsilk;
   }
   
   .navbar-container{
    background-color: var(--primaryColor);
    overflow: hidden;
   }
   
   .topnav{
    margin-left: 400px;
     background-color: var(--primaryColor);
     
     
   }
   
   .topnav a{
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
   }
   
   .topnav a:hover {
   background-color: var(--mainWhite);
   color: black;
   }
   
   .title{
    font-size: 45px;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding: 20px;
   }
   
   #filterButtons{
    margin-top: 0px;
    width: 100%;
    height: 80px;
    left: 5%;
    background-color: white;
    text-align: center;
    justify-content: center;
   }
   
   .btn{
    border: none;
    padding:12px 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-family: monospace;
   }

   .btn:hover{
       background-color:white;
   }
   
   .productos {
    margin-top: 0px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
       
   }

   .producto{
    color: black;
    background-color: var(--primaryColor);
    text-align: center;
    float: left;
    width: 27%;
    height: 380px;
    margin: 40px;
   

   }

   .producto_imagen {
    width: 150px;
 height: auto;
 overflow: hidden;
 padding-top: 14%;
 padding-bottom: 5%;
   }

   /*
   Carrito icono
   */

   .carrito-info {
       color: #333;
       border-radius: 0.25rem;
       padding : 0.01rem 0.9rem;
       cursor: pointer;
       position: absolute;
       margin-right: 0%;
       margin-left: 92%;
   }

   .carrito-info-icono:hover{
    color:gray;

   }

   .carrito{
       position: absolute;
       min-height:14rem;
       background-color: var(--primaryColor);
       margin-top: 57px;
       right:0;
       text-align:center;
       border-radius:0.50rem;
       transition: all 0.3s ease-in-out;
       width:0;
       overflow: auto;
       text-align: center;
   }

   .mostrar-carrito{
       width:35rem;
       padding:2rem 1.5rem;

   }

   .carrito-row{
       transition: all 2s ease-in-out;
       display: flex;
       font-size:15px;
   }

   .carrito-header{
       font-weight: bold;
       font-size: 1rem;
       color: #333;
   }

   .carrito-column{
       display: flex;
       align-items:center;
       border-bottom: 1px solid #333;
       margin-right: 1.1em;
       margin-left: 0.8em;
       padding-bottom:10px;
       margin-top: 10px;
   }

   .carrito-item{
       width:25%;
       font-size: 1.2em;
   }

   .carrito-precio{
       width:25%;
       font-size: 1.2em;
       color: #333;
       padding-left: 25px;

   }

   .carrito-cantidad{
       width:35%;
       font-size: 1.2em;
   }

   .carrito-total{
    text-align: end;
    margin-top: 10px;
    padding-left: 35px;

   }

   .carrito-total-precio{
   
   }

   .carrito-total-titulo{
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    margin-right: 20px;
   }

   .carrito-total-precio{
       color: #333;
       font-size: 1.1em;

   }

   .carrito-item-image{
       width:75px;
       height:auto;
       border-radius:10px;
   }

   .btn-danger {
       color:#333;
       background-color:var(--primaryColor);
       border: none;
       border-radius: 0.3em;
       font-weight: bold;
       margin-top:0px;
   }

   .btn-danger:hover{
       background-color:white;
       color: #333;
   }

   .carrito-cantidad-input {
       margin-top:20px;
       height:35px;
       width:50px;
       border-radius: 5px;
       border: 1px solid var(--primaryColor);
        background-color:var(--mainGrey);
        color: #333;
        padding:0;
        text-align: center;
        font-size:1.2em;
        margin-right: 25px;
   }

